@import "../../global.scss";

.intro {
    background-color: white;
    display: flex;
 
    @include mobile{
        flex-direction: column;
        align-items: center ;
    }

    .right {
        // height: 100vh;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        position: relative;
        .wrapper {
            padding: 50px;
            h1 {
                font-size: 60px;
                margin: 10px 0;
            }

            h2 {
                font-size: 35px;
            }

            h3 {
                font-size: 30px;
            }
        }

        a {

            position: absolute;
            bottom: 80px;
            font-size: 60px;
            text-decoration: none;
            color: black;
            animation: arrowBlink 2s ease-in-out infinite;

        }

        @keyframes arrowBlink {
            100% {
                opacity: 0;
            }
        }
    }
}